/* for over all section */
*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
/* for header section */
header{
    display: flex;
    height: 80px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fdfeff;
}
/* for logo image area div */
.myntra_logo{
    height: 36px;
    width: 53px;
}

/* for logo area div */
.logo_container{
    margin-left: 4%;
}

/* for nav bar section div */
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
    
}
.nav_bar a{
    letter-spacing: .3px;
    color: #282c3f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom:5px solid #ffffff;


}
.nav_bar a:hover{
    border-bottom:4px solid #ff3f6c;
}
/* for sup new in nav bar */
.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;

}
/* search bar area */
.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    font-size: 14px;
    display:flex;
    align-items: center;


}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    border-radius: 4px 0px 0px 4px;
    color: #696e79;
    padding: 10px;
    font-weight: 300;
    background: #f5f5f6;

}
.search_input{
    height: 40px;
    border-radius: 0 4px 4px 0;
    color: #696e79;
    flex-grow: 1;
    background: #f5f5f6;
    border: 0;

}
/* div for action bar section */
.action_bar{
    margin-right: 4%;
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
    }

.action_container{

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* main div area */

/* bannar area */
.bannar_area{
    margin: 40px 0;
}
.bannar_img{
    width: 100%;
}

/* offer_heading area */
.offer_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
/* offer_items area */
.offer_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.sales-item{
    width: 250px;

}

/* category_heading area */
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;

}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-item{
    width: 250px;

}
/* footer area */
.footer_container{
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;

}
.footer_column{
    display: flex;
    flex-direction: column;

}
.footer_column h3{
color: #282c3f;
font-size: 40px;
margin-bottom: 25px;

}
.footer_columnn a{
    color: #63656a;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
}
.copyright p{
    color: #696e79;
    text-align: end;
    padding: 15px;
}
.footer-copyright{
    color: #696e79;
    text-align: start;
    padding: 15px;
}